<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    
    {% if saved_object %}
        <h2>Form submitted successfully</h2>
        <h2>{{saved_object.image.url}}</h2>
        <h2>Description: {{saved_object.description}}</h2>
        <img src="{{saved_object.image.url}}" alt="image" style="max-height:500px">

    {% endif %}
        

    
</body>
</html>